<div class="mainContentContainer">
    <div class="mainContent">
        <div fxLayout="row">
            <div class="mainTitle">Company List</div>
        </div>

        <div class="historyTableBox">
            <!-- <div class="content">
				<div class="example-container mat-elevation-z8"> -->

            <div class="filter">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Company" #input>
                </mat-form-field>
            </div>


            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 historyTable">

                <ng-container matColumnDef="companyCode">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.companyCode}} </td>
                </ng-container>

                <ng-container matColumnDef="companyName">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                </ng-container>

                <ng-container matColumnDef="employees">
                    <th mat-header-cell *matHeaderCellDef> Employees </th>
                    <td mat-cell *matCellDef="let element"> 100 </td>
                </ng-container>

                <ng-container matColumnDef="annualPolicy">
                    <th mat-header-cell *matHeaderCellDef> Annual Policy </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.annualPolicy === 'byContract'">
                            byContract
                        </span>
                        <span *ngIf="element.annualPolicy==='byYear'">
                            byYear
                        </span>
                    </td>
                </ng-container>


                <ng-container matColumnDef="isRollover">
                    <th mat-header-cell *matHeaderCellDef> Rollover </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.isRollover">
                            O
                        </span>
                        <span *ngIf="!element.isRollover">
                            X
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="isReplacementDay">
                    <th mat-header-cell *matHeaderCellDef> Replacement Day </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.isReplacementDay">
                            O
                        </span>
                        <span *ngIf="!element.isReplacementDay">
                            X
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="isMinusAnnualLeave">
                    <th mat-header-cell *matHeaderCellDef> Minus Annual Leave </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.isMinusAnnualLeave">
                            O
                        </span>
                        <span *ngIf="!element.isMinusAnnualLeave">
                            X
                        </span>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="createCompnayHoliday(row?._id)"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9999">
                        No data
                    </td>
                </tr>
            </table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 30]" aria-label="Select page">
            </mat-paginator>
        </div>
        <!-- </div>
		</div> -->
    </div>
</div>