.mat-mdc-row:hover .mat-mdc-cell {
    background-color: transparent !important;
}

table {
    th:first-child, th:nth-child(2), th:nth-child(3), th:nth-child(4) {
        width: 20%;
    }
    th:nth-child(5) {width: 47%;}

    td {cursor: pointer;}
}

@media screen and (max-width: 1500px) {
    th {
        width: 25%!important;
    }
}

@media screen and (max-width: 800px) {
    .page {
        min-width: 700px;    
    }
  }