.notification_header {
    display: flex;
    justify-content: flex-start; /* 좌우로 정렬 */
    flex-wrap: wrap;
  }
  
  .notification_title,
  .notification_category {
    margin-right: 10px; /* 요소 간 간격 조절 */
  }
  
  .notification_title {
    flex-grow: 1; /* 남은 공간을 채우도록 확장 */
  }

.notification_title{
    .mat-mdc-form-field {
        // min-width: 395px;
        width: 100%;
    }
}

quill-editor {
    width: 100%;
}