// .mat-mdc-row:hover .mat-mdc-cell {
//     background-color: transparent !important;
// }

.name {
    p:first-child {float: left; margin-right: 10px; padding-top: 10px;}
    p:last-child {padding-top: 27px;} 
  }
  
  table {
      th:first-child{
          min-width: 200px;
      }
  
      th:nth-child(2), th:nth-child(3) {
          width: 15%;
      }
  
      th:nth-child(4) {
          min-width: 100px;
      }
  }
  
  @media screen and (max-width: 1650px) {
      .name {
          p:first-child {float: left; margin-right: 0px; padding-top: 10px;}
          p:last-child {padding-top: 14px;} 
        }
  }
  
  @media screen and (max-width: 1500px) {
      th:first-child {
          width: 20%;
      }
  
      th:nth-child(2){
          min-width: 225px;
      }
  
      th:nth-child(4) {
          min-width: 90px!important;
      }
  }
  
  @media screen and (max-width: 1100px) {
      .page {
          min-width: 950px;
      }
  }

  @media screen and (max-width: 800px) {
    td {
      max-width: 200px;
      box-sizing: border-box;
    }
}