.nav_container {
  display: flex;
  height: 70px;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border-bottom: solid 1px rgb(216, 216, 216);
}

.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.saveBtn {
  background: #96CDCA;
  color: #fff;
  width: 100px;
  box-shadow: none;
}

.backBtn {
  background: #E9EBEF;
  color: #6A6E80;
  max-width: 100px;
  height: 36px;
  align-items: center;
  box-shadow: none;
}

.detailBtn {
  background: #96CDCA;
  color: #fff;
  width: 150px;
  box-shadow: none;
}

.rejectBtn {
  background: #96CDCA;
  color: #fff;
  width: 100px;
  margin-right: 50px;
  box-shadow: none;
}