<div class="sidenav">

  <!-- 0. sidenav container -->
  <mat-sidenav-container style="height: 100vh">

    <!-- 1. side nav -->
    <mat-sidenav #sidenav [autoFocus]="false" [opened]="isDesktop() && isSidenavRequired"
      [mode]="isDesktop() ? 'side' : 'over'" [disableClose]="isDesktop()" [fixedInViewport]="!isDesktop()">

      <app-sidenav *ngIf="isSidenavRequired"></app-sidenav>

    </mat-sidenav>

    <!-- 2. side nav content -->
    <mat-sidenav-content style="display: flex; flex-direction: column;">
      <!-- 2.1 상단 toolbar  -->
      <app-toolbar [isSidenavRequired]="isSidenavRequired"></app-toolbar>



      <!-- 2.2 main contents -->
      <main class="main_area" style="flex: 1; ">
        <!-- <p>{{isDesktop$|async}}</p> -->
        <!-- router 주석 지우지마!!! -->
        <router-outlet></router-outlet>
      </main>

      <!-- 2.3 footer -->
      <!-- <po-footer></po-footer> -->

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>