<div class="page">
  <div class="page_header">
    <div class="page_title">Add Employee</div>
  </div>

  <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
    <div class="add_container">

      <!-- employee email -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Email</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-icon matSuffix>assignment_ind</mat-icon>
            <mat-error *ngIf="addEmployeeForm.controls['email'].hasError('required')">
              Please enter email.
            </mat-error>
            <mat-error *ngIf="addEmployeeForm.controls['email'].hasError('email')">
              Please enter a valid email
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- employee name -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Name</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="username">
            <mat-icon matSuffix>assignment_ind</mat-icon>
            <mat-error *ngIf="addEmployeeForm.controls['username'].hasError('required')">
              Please enter name.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- employee phone -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Phone</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput class="numeric-input" formControlName="phoneNumber">
            <mat-icon matSuffix>assignment_ind</mat-icon>
            <mat-error *ngIf="addEmployeeForm.controls['phoneNumber'].hasError('pattern')">
              Please enter valid phone.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- employee location -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Location</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select formControlName="country" required>
              <mat-option *ngFor="let nation of nationList" [value]="nation._id">
                {{nation.countryName}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>find_in_page</mat-icon>
            <mat-error *ngIf="addEmployeeForm.controls['country'].hasError('required')">
              Please enter country.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- employee start date -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Start Date</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="empStartDate"
              (dateChange)="datePickChange($event.value)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="addEmployeeForm.controls['empStartDate'].hasError('required')">
              Please enter start date.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- employee end date -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>End Date</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="empEndDate"
              (dateChange)="datePickChange2($event.value)">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <!-- employee department -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Department</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Department</mat-label>
            <input matInput name="department" formControlName="department" autocomplete="department">
            <mat-icon matSuffix>work_outline</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- employee position -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>position</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>position</mat-label>
            <input matInput name="position" formControlName="position" autocomplete="position">
            <mat-icon matSuffix>work_outline</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" class="booterBtn">
        <button mat-flat-button type="submit">Request</button>
        <div style="width: 20px;"></div>
        <button mat-flat-button class="cancelBtn" (click)="toBack()">Cancel</button>
      </div>

    </div>
  </form>

</div>