<div class="page">
  <div class="page_header">
    <div class="page_title">Add Employee</div>
  </div>

  <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
    <div class="add_container">

      <!-- employee email -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Email</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
          </mat-form-field>
        </div>
      </div>

      <!-- employee name -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Name</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="username">
          </mat-form-field>
        </div>
      </div>

      <!-- employee name -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Phone</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="text" formControlName="phoneNumber">
          </mat-form-field>
        </div>
      </div>

      <!-- employee location -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Location</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select formControlName="country" required>
              <!-- <mat-option value="Korea">Korea</mat-option>
                            <mat-option value="Singapore">Singapore</mat-option>
                            <mat-option value="England">England</mat-option> -->
              <mat-option *ngFor="let nation of nationList" [value]="nation._id">
                {{nation.countryName}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>find_in_page</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- employee position -->
      <!-- <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Position</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-radio-group mat-radio-group name="isManager">
            <input type="radio" [value]="true" formControlName="isManager" />MANAGER
            <input type="radio" [value]="false" formControlName="isManager" />EMPLOYEE
          </mat-radio-group>
        </div>
      </div> -->

      <!-- employee start date -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Start Date</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="empStartDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <!-- employee end date -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>End Date</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="empEndDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <!-- employee department -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Department</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Department</mat-label>
            <input matInput type="text" name="department" formControlName="department" autocomplete="department">
          </mat-form-field>
        </div>
      </div>

      <!-- employee position -->
      <div class="lineDivider">
        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
          <span>Posiotion</span>
        </div>
        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
          <mat-form-field appearance="outline">
            <mat-label>Posiotion</mat-label>
            <input matInput type="text" name="posiotion" formControlName="posiotion" autocomplete="posiotion">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" class="booterBtn">
        <button mat-flat-button type="submit">Request</button>
        <div style="width: 20px;"></div>
        <button mat-flat-button class="cencelBtn" (click)="toBack()">Cancel</button>
      </div>

    </div>
  </form>

</div>