.dashboard_bottom_container {
  table {
    th:first-child {
      width: 15%;
    }

    th:nth-child(2) {
      width: 80%;
    }
  }
}

.button {
    flex-wrap: wrap;
  }
  
/* 반응형 디자인을 위한 미디어 쿼리 */
@media screen and (max-width: 800px) {
    th:first-child {
      width: 30%;
    }

    th:nth-child(2) {
      width: 70%;
    }
}

@media screen and (max-width: 550px) {
  .mat-button-toggle {
      min-width: 50px!important;
  }
}