<div class="page">
    <div class="page_header">
        <div class="page_title">{{countryName}} Holiday List</div>
		<button mat-flat-button (click)="openAddHoliday();">Add Holiday</button>
    </div>

	<div class="table_container mt-30">

        <div class="filter">
            <div class="selectContent">
            <mat-form-field dateFormat-year appearance="outline">
                    <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year"
                        (yearSelected)="chosenYearHandler($event, dp)"
                        panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div>
        </div>

		<table mat-table [dataSource]="countryHolidayList" class="mat-elevation-z8 table" #filteredTable>

			<ng-container matColumnDef="holidayDate">
				<th mat-header-cell *matHeaderCellDef> Date </th>
				<td mat-cell *matCellDef="let element"> {{element?.holidayDate | date: 'yyyy-MM-dd'}}</td>
			</ng-container>

			<ng-container matColumnDef="holidayName">
				<th mat-header-cell *matHeaderCellDef> Name </th>
				<td mat-cell *matCellDef="let element"> {{element?.holidayName}} </td>
			</ng-container>

			<!-- <th mat-header-cell *matHeaderCellDef> - </th> -->
				
			<ng-container matColumnDef="delete">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let element">
					<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
						<button mat-flat-button class="table_delete_button" (click)="deleteCountryHoliday(element._id)">Delete</button>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="9999">
					No data
				</td>
			</tr>

		</table>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>

	</div>

</div>