.mainContentContainer {
  margin: 0 auto;
  height: 100%;
}

.mainContent {padding: 40px;}

.mainTitle {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.leaveTableContainer {
  min-width: 600px;
  max-width: 1200px;
  border: 1px solid #E0E0E0;
  // border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 15px;

  .br_ltop {
    margin-bottom: 15px;
  }
}

.lineDivider {
  // border-bottom: 1px solid #E0E0E0;
}

.leftTable {
  margin: 1px;
  padding: 20px;
  color: #6A6E80;
  font-weight: 700;
  background-color: #F0F2F5;
}

.rightTable {
  // border-left: 1px solid #E0E0E0;
  padding: 20px;
}

.btnSection_1 {
  margin-top: 13px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.companyFormFieldBox {
  width: 300px;
}

.mt-30 {margin: 30px 0 20px;}

.saveBtn {
  background: #96CDCA;
  color: #fff;
  box-shadow: none;
}

.cancelBtn {
  box-shadow: none;
}

.submit-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clickBtn {
  justify-content: center;
  display: flex;
  margin-left: 20px;
}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 780px) {

  .companyFormFieldBox {
    width: 100%;
  }

  .mat-dialog-container {
    padding: 0 !important;
  }

  .mainTitle {
    font-size: 20px;
    margin: 20px 15px;
  }

  .leaveTableContainer {
    min-width: 0;
    padding: 20px 0px;
  }

  .lineDivider {
    display: flex;
    width: 100%;
  }

  .leftTable {
    text-align: center;
    flex: 1 1 !important;
    padding: 5px 0;
    font-size: 0.7em;
    max-width: 20% !important;
    line-height: 67px;
  }

  .rightTable {
    // flex: 1 1 !important;
    max-width: 79%;
    padding: 10px;
  }
}

::ng-deep.mat-dialog-container {
  @media screen and (max-width: 780px) {
    padding: 20px !important;
  }
}