<div class="page">

	<form [formGroup]="companyHolidayForm" novalidate>
		<div class="dialog_container">
            <div class="dialog_header">
                <div class="dialog_title">Add holiday</div>
            </div>

            <div class="dialog_body">
                <mat-form-field appearance="outline">
                    <mat-label>Holiday Name</mat-label>
                    <input matInput type="text" formControlName="holidayName"/>
                    <mat-error *ngIf="companyHolidayForm.controls['holidayName'].hasError('required')">
                        Please enter holiday name.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Holiday Date</mat-label>
                    <input 
                        matInput 
                        [matDatepicker]="picker1" 
                        formControlName="holidayDate"
                        (dateChange)="datePickChange($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="companyHolidayForm.controls['holidayDate'].hasError('required')">
                        Please enter holiday date.
                    </mat-error>
                </mat-form-field>

                <button mat-flat-button (click)="addCompanyHoliday()">Save</button>
            </div>
		</div>
	</form>

</div>
