<div class="mainContentContainer">
		<div class="mainTitle">Add holiday</div>

		<form [formGroup]="companyHolidayForm" novalidate>
			<div class="leaveDialogContainer">
				<div fxLayout="column" class="br_ltop">
					<div class="lineDivider" fxLayout="row">
						<div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
							<div class="leftBox">
								<span>Name</span>	
							</div>
						</div>
						<div class="rightTable" fxFlex>
							<div>
                                <mat-form-field appearance="outline" class="companyHolidayFormFieldBox">
                                    <mat-label>Holiday Name</mat-label>
                                    <input matInput type="text" formControlName="holidayName"/>
                                </mat-form-field>
							</div>
						</div>
					</div>
					<div class="lineDivider" fxLayout="row">
						<div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
							<div>
								<span>Date</span>	
							</div>
						</div>
						<div class="rightTable" fxFlex>
							<div>
								<span>
									<mat-form-field appearance="outline" class="companyHolidayFormFieldBox">
                                        <mat-label>Holiday Date</mat-label>
										<input 
											matInput 
											[matDatepicker]="picker1" 
											formControlName="holidayDate"
											(dateChange)="datePickChange($event.value)">
											<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
									</mat-form-field>
								</span>
							</div>
						</div>
					</div>
					<div class="mt-30" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="booterBtn">
						<button 
							mat-flat-button 
							class="approveBtn" 
							(click)="addCompanyHoliday()" 
							[disabled]="companyHolidayForm.invalid"
						> 
							Request 
						</button>
						<button  mat-raised-button class="cancelBtn" mat-dialog-close> Cancel </button>
					</div>
				</div>
			</div>
		</form>

</div>
