<div class="container">
  <section class="statement_form_section">
    <h1 mat-dialog-title>Upload Statement</h1>
    <div mat-dialog-content>
      <form [formGroup]="statementForm">
        <mat-form-field class="full-width">
          <input matInput [placeholder]="'Title'" formControlName="title" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput [placeholder]="'Employee Email'" [matAutocomplete]="auto" formControlName="employee" required>
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredEmployee()" [value]="option.email">
            {{ option.username }} ({{ option.email }})
          </mat-option>
        </mat-autocomplete>

        <div class="upload-section">
          <mat-toolbar *ngIf="currentFile" class="progress-bar">
            <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
            <span class="progress">{{ progress }}%</span>
          </mat-toolbar>

          <div class="file-input">
            <input matInput [value]="fileName" [placeholder]="'Pdf upload'" disabled />
            <input type="file" id="fileInput" (change)="selectFile($event)" name="fileInput" />
          </div>



          <button mat-raised-button color="primary" [disabled]="!currentFile" (click)="upload()">
            Upload
          </button>
        </div>
      </form>
    </div>
  </section>

  <section class="statement_pdf_container">
    <canvas id="myCanvas" #pdfViewer></canvas>
  </section>
</div>