// .container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   // padding: 16px;
//   // gap: 16px;
//   // height: 600px;

//   .statement_form_section {
//     // max-width: 400px;
//     width: 100%;
//   }

//   form {
//     display: flex;
//     flex-direction: column;
//     gap: 16px;

//     .full-width {
//       width: 100%;
//     }

//     .upload-section {
//       display: flex;
//       flex-direction: column;
//       gap: 8px;

//       .progress-bar {
//         width: 100%;
//       }

//       .file-input {
//         width: 100%;

//         // input[type="file"] {
//         //   display: none;
//         // }
//       }

//       button {
//         align-self: flex-start;
//       }
//     }
//   }

.dialog_container {
  max-width: 700px;
}

.statement_pdf_container {

  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    // bottom: 56px;
    bottom: 0px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  canvas {
    max-width: 100%;
    max-height: 120px;
  }
}

.page-buttons {
  display: flex;
  flex-direction: row;
  /* 가로 방향으로 정렬 */
  align-items: center;
  /* 요소를 수직 가운데 정렬 (선택 사항) */
  justify-content: center;

  button {
    width: 64px;
  }
}

.uploadBtn {
  margin: 30px 0;
}

.saveBtn {
  background: #96CDCA;
  color: #fff;
  box-shadow: none;
  margin-top: 30px;
}

.cancelBtn {
  margin-top: 30px;
  box-shadow: none;
}


//   @media screen and (min-width: 768px) {
//     flex-direction: row;

//     .statement_form_section {
//       max-width: none;
//       width: auto;
//       margin-right: 16px;
//     }

//     .statement_pdf_container {
//       flex: 1;

//       canvas {
//         width: 100%;
//         max-height: 600px;
//       }
//     }
//   }
// }

.mt-30 {
  margin-bottom: 20px;
}