.empty {
    width: 20px;
}

.form-row {
    display: flex; /* 수평으로 배열 */
    justify-content: space-between; /* 요소 사이의 간격을 넓혀줍니다 */
    flex-wrap: wrap;
  }

  .form-field {
    flex: 1; /* 각각의 요소가 동일한 너비를 갖도록 설정 */
    margin-right: 20px; /* 요소 사이의 간격을 설정 (원하는 간격으로 조절) */
    margin-bottom: 20px;
  }

// @media screen and (max-width: 900px) {  
//     .yearLabel {
//         font-size: 0.7em;
//     }

//     // .formFieldBox {
//     //         width: 80PX;
//     //     }
// }

.addclickBtn {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.04);
}