<div class="mainContentContainer">
    <div class="mainContent">
        <div fxLayout="row">
            <div class="mainTitle">Edit Company</div>
        </div>

        <form [formGroup]="editCompanyForm" (ngSubmit)="onSubmit()">
            <div class="leaveTableContainer">
                <div fxLayout="column" class="br_ltop">

                    <!-- company name -->
                    <div class="lineDivider" fxLayout="row wrap">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Company Name</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="50" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="companyFormFieldBox">
                                <mat-label>Company Name</mat-label>
                                <input matInput type="text" formControlName="companyName" />
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- leave standard -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Leave Standard</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">


                            <div id="leaveStandards_{{i+1}}" formArrayName="leaveStandards"
                                *ngFor="let LeaveStandard of getLeaveStandardsControls(); let i = index"
                                fxLayout="column" fxLayoutGap="30px">
                                <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between center"
                                    fxLayoutGap="20px">
                                    <div>
                                        <input id="year" type="hidden" formControlName="year" />
                                        <div class="yearLabel"> {{i+1}} year</div>
                                    </div>


                                    <div fxFlex="column" fxFlexAlign="center center">
                                        <mat-form-field appearance="outline" class="formFieldBox">
                                            <mat-label>Annual Leave</mat-label>
                                            <input matInput type="number" class="numeric-input"
                                                formControlName="annualLeave" />
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="column" fxFlexAlign="center">
                                        <mat-form-field appearance="outline" class="formFieldBox">
                                            <mat-label>Sick Leave</mat-label>
                                            <input matInput type="number" class="numeric-input"
                                                formControlName="sickLeave" />
                                        </mat-form-field>
                                    </div>

                                    <div *ngIf="i <= 0" class="empty">
                                    </div>
                                    <div *ngIf="i > 0" class="clickBtn" (click)="cancelItem(i)">
                                        <mat-icon class="addMark">remove</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="addclickBtn" (click)="addItem()">
                                <mat-icon class="addMark">add</mat-icon>
                            </div>
                        </div>
                    </div>


                    <!-- rollover -->
                    <div class="lineDivider" fxLayout="row wrap">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Rollover</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex>
                            <mat-radio-group mat-radio-group name="grpName">
                                <input type="radio" formControlName="isRollover" [value]="true"
                                    [checked]="editCompanyForm.get('isRollover')?.value" />Yes
                                <input type="radio" formControlName="isRollover" [value]="false"
                                    [checked]="!editCompanyForm.get('isRollover')?.value" />No
                            </mat-radio-group>
                        </div>
                    </div>
                    <div *ngIf="editCompanyForm.get('isRollover')?.value === true">
                        <!-- rollover max month -->
                        <div class="lineDivider" fxLayout="row wrap">
                            <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                                <div class="leftBox">
                                    <span>Rollover Max Month</span>
                                </div>
                            </div>
                            <div class="rightTable" fxFlex>
                                <mat-form-field appearance="outline" class="formFieldBox formSpacer">
                                    <input matInput type="number" class="numeric-input"
                                        formControlName="rolloverMaxMonth" placeholder="Rollover Max Month" />
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- rollover max day -->
                        <div class="lineDivider" fxLayout="row wrap">
                            <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                                <div class="leftBox">
                                    <span>Rollover Max Day</span>
                                </div>
                            </div>
                            <div class="rightTable" fxFlex>
                                <mat-form-field appearance="outline" class="formFieldBox formSpacer">
                                    <input matInput type="number" class="numeric-input" formControlName="rolloverMaxDay"
                                        placeholder="Rollover Max Day" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- Replacement Day -->
                    <div class="lineDivider" fxLayout="row wrap">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Replacement Day</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex>
                            <mat-radio-group mat-radio-group name="grpName">
                                <input type="radio" formControlName="isReplacementDay" [value]="true"
                                    [checked]="editCompanyForm.get('isReplacementDay')?.value " />Yes
                                <input type="radio" formControlName="isReplacementDay" [value]="false"
                                    [checked]="!editCompanyForm.get('isReplacementDay')?.value " />No
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="lineDivider" fxLayout="row wrap">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Advance Annual Leave</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex>
                            <mat-radio-group mat-radio-group name="grpName">
                                <input type="radio" formControlName="isAdvanceLeave" [value]="true"
                                    [checked]="editCompanyForm.get('isAdvanceLeave')?.value" />Yes
                                <input type="radio" formControlName="isAdvanceLeave" [value]="false"
                                    [checked]="!editCompanyForm.get('isAdvanceLeave')?.value" />No

                            </mat-radio-group>
                        </div>
                    </div>
                    <!-- RD Validity Day -->
                    <div *ngIf="editCompanyForm.get('isReplacementDay')?.value == true">
                        <div class="lineDivider" fxLayout="row wrap">
                            <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                                <div class="leftBox">
                                    <span>RD Validity Term</span>
                                </div>
                            </div>
                            <div class="rightTable" fxFlex>
                                <mat-form-field appearance="outline" class="formFieldBox formSpacer">
                                    <input matInput type="number" class="numeric-input" formControlName="rdValidityTerm"
                                        placeholder="RD Validity Term" />
                                </mat-form-field> month(s)
                            </div>
                        </div>
                    </div>

                    <!-- Annual Policy -->
                    <div class="lineDivider" fxLayout="row wrap">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Annual Policy</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex>
                            <mat-radio-group mat-radio-group name="grpName">
                                <input type="radio" value="byYear" formControlName="annualPolicy"
                                    [checked]="editCompanyForm.get('annualPolicy')?.value === 'byYear' ? true : false" />by
                                year
                                <input type="radio" value="byContract" formControlName="annualPolicy"
                                    [checked]="editCompanyForm.get('annualPolicy')?.value === 'byContract' ? true : false" />by
                                contract
                            </mat-radio-group>
                        </div>
                    </div>


                    <div fxLayout="row" fxLayoutAlign="center center" class="booterBtn">
                        <div class="btnSection_1">
                            <button mat-raised-button class="tableBtn" type="submit" color="primary"
                                [disabled]="isButtonDisabled()">Edit</button>
                        </div>
                        <div>
                            <button mat-raised-button class="tableBtn" (click)="toBack()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>