<div class="page">
    <div class="page_title">Manager Information</div>
  
      <div class="edit_twin_container">

      <div class="edit_left_container">
        <p class="edit_title">Edit Manager</p>
          <form [formGroup]="editManagerForm" (ngSubmit)="onSubmit()" fxLayoutAlign="center">

                <div fxLayout="column" class="br_ltop">

                    <!-- manager email -->
                        <p>
                            <mat-form-field appearance="outline" class="editManagerFormFieldBox">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" placeholder="E-Mail *" name="email" formControlName="email"
                                    autocomplete="email">
                            </mat-form-field>
                        </p>

                    <!-- manager name -->
                        <p>
                            <mat-form-field appearance="outline" class="editManagerFormFieldBox">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" placeholder="Name" name="username"
                                    formControlName="username" autocomplete="username">
                            </mat-form-field>
                        </p>

                    <!-- manager phone -->
                        <p>
                            <mat-form-field appearance="outline" class="editManagerFormFieldBox">
                                <mat-label>Phone</mat-label>
                                <input matInput type="text" placeholder="Phone" name="phoneNumber"
                                    formControlName="phoneNumber" autocomplete="phoneNumber">
                            </mat-form-field>
                        </p>

                    <!-- manager Address -->
                        <p>
                            <mat-form-field appearance="outline" class="editManagerFormFieldBox">
                                <mat-label>Address</mat-label>
                                <input matInput type="text" placeholder="Address" name="address"
                                    formControlName="address" autocomplete="address">
                            </mat-form-field>
                        </p>

                    <!-- super manager -->                    
                        <p>
                            <mat-checkbox class="checkbox-margin" formControlName="isSuperManager">Super Manager</mat-checkbox>
                        </p>
                        
                        <!-- password reset -->        
                        <div style="color:#3f51b5;" (click)="resetManagerPassword()">
                            Would you like to reset password?
                        </div>
                </div>
        </form>
        <div fxLayout="row" fxLayoutAlign="center" class="booterBtn">
            <button mat-raised-button class="tableBtn" type="submit" color="primary" [disabled]="isButtonDisabled()">Edit</button>
        </div>

    </div>
  
      <div class="edit_right_container">
        <p class="edit_title" >Employees managed by managers</p>
        <div class="historyTableBox2">
          <div class="filter">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="manager's Employees" #input>
            </mat-form-field>
            <button mat-flat-button class="table_add_button" (click)="addManagerEmployees()">Add Manager's Employees</button>
          </div>

		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
    
            <ng-container matColumnDef="year">
              <th mat-header-cell *matHeaderCellDef> Year </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.year >= 0 && (element.month === null || element.month === undefined)">
                  {{ element.year + 1}} year(s)
                </ng-container>
                <ng-container *ngIf="element.month >= 0">
                  {{ element.month }} month(s)
                </ng-container>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="entitlement">
              <th mat-header-cell *matHeaderCellDef> Taken/Entitlement </th>
              <td mat-cell *matCellDef="let element"> {{element.usedLeave?.takenEntitlement}} /
                {{element.personalLeave.leaveStandards[element.year].annualLeave}} </td>
            </ng-container>
    
            <ng-container matColumnDef="sickLeave">
              <th mat-header-cell *matHeaderCellDef> Taken/Sick Leave </th>
              <td mat-cell *matCellDef="let element">
                {{ element.usedLeave?.takenSickLeave }} / {{
                element.personalLeave.leaveStandards[element.year].sickLeave }}
              </td>
            </ng-container>
    
            <ng-container matColumnDef="rollover">
              <th mat-header-cell *matHeaderCellDef> Taken/Rollover </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.personalLeave.isRollover; else noRollover">
                  {{ element.usedLeave?.takenRollover }} / {{
                  element.personalLeave.leaveStandards[element.year].annualLeave }}
                </ng-container>
                <ng-template #noRollover>
                  X
                </ng-template>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="replacementDay">
              <th mat-header-cell *matHeaderCellDef> Taken/RD </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.personalLeave.isReplacementDay">
                  {{ element.usedLeave?.takenReplacementDay }} / {{
                  element.personalLeave.leaveStandards[element.year].annualLeave }}
                </span>
                <span *ngIf="!element.personalLeave.isReplacementDay">
                  X
                </span>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="advanceLeave">
              <th mat-header-cell *matHeaderCellDef> Used Advance Leave </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.personalLeave.isAdvanceLeave">
                  {{element.usedLeave.takenAdvanceLeave}}
                </span>
                <span *ngIf="!element.personalLeave.isAdvanceLeave">
                  X
                </span>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="annualPolicy">
              <th mat-header-cell *matHeaderCellDef> Annual Policy </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.personalLeave.annualPolicy === 'byContract'">
                  byContract
                </span>
                <span *ngIf="element.personalLeave.annualPolicy==='byYear'">
                  byYear
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="empStartDate">
              <th mat-header-cell *matHeaderCellDef> Contract Start </th>
              <td mat-cell *matCellDef="let element">
                <span>
                  {{element.empStartDate}}
                </span>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button class="table_delete_button" (click)="deleteManagerEmployees(element?._id)">Delete</button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef=" displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow >
              <td class="mat-cell" colspan="9999">
                No data
              </td>
            </tr>
          </table>
          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 30]" aria-label="Select page">
        </mat-paginator>
</div>
</div>
    </div>
  </div>