<mat-toolbar color="primary" class="toolbar mat-elevation-z6">
    <button (click)="openSidenav()" mat-icon-button fxHide.gt-md>
        <mat-icon>menu</mat-icon>
    </button>

    <span style="flex: 1"></span>

    <div [routerLink]="['/company']">Company</div>│
    <div [routerLink]="['/country']">Country</div>

    <div style="display: flex; align-items: center; gap: 10px;">
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="profile">
            <div class="profile_button">
                <img class="profile_image" [src]="userProfileData?.profile_img" alt="" />
                <span>{{userProfileData?.username}}</span>
            </div>
        </button>
    </div>

    <!-- 알람 부분 -->

    <!-- 로그아웃 메뉴 부분 -->
    <mat-menu #profile>
        <button mat-menu-item [routerLink]="['/profile']">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>
        <button mat-menu-item (click)="signOut();">
            <mat-icon>logout</mat-icon>
            <span>Sign out</span>
        </button>
    </mat-menu>
</mat-toolbar>