<mat-toolbar class="toolbar">
  <button *ngIf="isSidenavRequired" (click)="openSidenav()" mat-icon-button fxHide.gt-md>
    <mat-icon>menu</mat-icon>
  </button>

  <div style="flex: 1">
    <h1 *ngIf="isSidenavRequired">
      {{companyInfo?.name}}
      <span>({{companyInfo?.date | date: 'YYYY-MM-dd'}})</span>
    </h1>
    <h1 *ngIf="!isSidenavRequired" [routerLink]="['/main']">GLOBAL HR KOREA</h1>
  </div>

  <div class="btns">
    <button class="btn" mat-flat-button [routerLink]="['/company']" routerLinkActive="active">Company</button>
    <button class="btn" mat-flat-button [routerLink]="['/country']" routerLinkActive="active">Country</button>
    <button class="btn" mat-flat-button [routerLink]="['/log-history']" routerLinkActive="active">Log History</button>

  </div>

  <!-- <div class="notice">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button> -->
  <!-- <button mat-button [matMenuTriggerFor]="profile">
            <div class="profile_button">
                <img class="profile_image" [src]="userProfileData?.profile_img" alt="" />
                <span>{{userProfileData?.username}}</span>
            </div>
        </button> -->
  <!-- </div> -->

  <!-- 알람 부분 -->

  <!-- 로그아웃 메뉴 부분 -->
  <!-- <mat-menu #profile>
        <button mat-menu-item [routerLink]="['/profile']">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>
        <button mat-menu-item (click)="signOut();">
            <mat-icon>logout</mat-icon>
            <span>Sign out</span>
        </button>
    </mat-menu> -->

  <div>
    <button mat-button [matMenuTriggerFor]="profile" matTooltip="Profile" matTooltipPosition="above"
      [matTooltipShowDelay]="500">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">

        <img class="toolbar-profile-img" [src]="userInfoStore().profileImgPath" alt="">
        <span class="profileName">{{userInfoStore().username}}</span>
      </div>
    </button>
    <mat-menu #profile>
      <button mat-menu-item [routerLink]="['/profile']">
        <mat-icon>info</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="signout();">
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
    <!-- <mat-menu #profile="matMenu" xPosition="before" class="dropdown-box">
          <div class="dropdown">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="dropdown-header">
              <div fxLayout="row" fxLayoutAlign="start center">

                <img class="profile-img" [src]="userInfoStore().profileImgPath" alt="">
                <div class="dropdown-profile-heading">
                  {{userInfoStore().username}}
                </div>
              </div>
              <mat-icon>apps</mat-icon>
            </div>
            <div class="dropdown-content">
              <div matRipple fxLayout="row" fxLayoutAlign="space-between center" class="notification notification-cursor"
                [routerLink]="['/profile']">
                <div fxLayout="row" fxLayoutAlign="start center">
  
                  <mat-icon class="icon-box-1 company-request">account_circle</mat-icon>
                  <div>
                    <div class="notification-label">My Profile</div>
                    <div class="notification-description">Personal Information</div>
                  </div>
                </div>
  
                <mat-icon class="icon-box-2">keyboard_arrow_right</mat-icon>
  
              </div>

  
            </div>
            <div class="dropdown-footer" fxLayout="row" fxLayoutAlign="center center" >
              <button mat-button color="primary" (click)="signout()">LOGOUT</button>
            </div>
          </div>
        </mat-menu> -->
  </div>

</mat-toolbar>