@import '../../../../styles.scss';

.profile_button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.toolbar-profile-img {
    width: 35px;
    border: 0;
    height: auto;
    border-radius: 100%;
    margin-right: 15px;
}

.profile-img {
    width: 40px;
    border: 0;
    height: auto;
    border-radius: 100%;
    // right:0;
    margin-right: 15px;
}

.menu_header {
    padding: 1rem 1.5rem;
    background: $smart_service_primary_color;
	color: #fff;
}

mat-icon {color: var(--point-color); font-size: 25px;}

h1 {display: inline-block;}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 16px;  width: 150px; overflow: hidden; text-overflow: ellipsis; padding-top: 11px;
        span {display: none;}
    }
}


@media screen and (max-width: 650px) {
    h1 {
        display: none;
    }
}