<div class="page">

	<form [formGroup]="countryForm" novalidate>
		<div class="dialog_container">
            <div class="dialog_header">
                <div class="dialog_title">Add Country</div>
            </div>

            <div class="dialog_body">
                <mat-form-field appearance="outline">
                    <mat-label>Country Name</mat-label>
                    <input matInput type="text" formControlName="countryName"/>
                    <mat-error *ngIf="countryForm.controls['countryName'].hasError('required')">
                        Please enter country name.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Country Code</mat-label>
                    <input matInput type="text" formControlName="countryCode"/>
                    <mat-error *ngIf="countryForm.controls['countryCode'].hasError('required')">
                        Please enter country code.
                    </mat-error>
                </mat-form-field>

                <button mat-flat-button (click)="addCountry()">Save</button>
            </div>
		</div>
	</form>

</div>
