// .mainContentContainer {
//   padding: 40px 40px;
//   margin: 0 auto;
//   height: 100%;
// }

// .mainTitle {
//   font-size: 22px;
//   font-weight: bold;
//   margin: 20px 0;
// }

// .selectContainer {
//   padding: 20px 20px 0;
//   border: 1px solid rgba(238, 238, 238, 0.548);
//   border-radius: 4px;
//   background-color: #fff;
//   box-sizing: border-box;
//   font-size: 13px;
//   box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
//   flex: 1;
//   min-width: 1200px;
// }

// .selectBox {
//   margin-bottom: 20px;
// }

// .selectLabel {
//   padding: 20px;
//   display: inline-block;
//   min-width: 60px;
// }

// ::ng-deep .mat-form-field-wrapper {
//   padding-bottom: 0;
// }

// .formFieldBox {
//   width: 180px;
// }

// .formEmailFieldBox {
//   width: 360px;
// }

// .formSpacer {
//   margin-right: 5px;
// }

// .waveSpacer {
//   margin: 0 5px;
// }

.selectContent {
    justify-content: space-evenly;
  }

.fontBold {
  font-weight: bold;
  margin: 10px 10px;
}

.searchBtn{
    margin-left: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) { 
    .mat-mdc-form-field{
        width: 150px;
    }
}

.leaveTableContainer {
    padding-bottom: 0px;
  }

// .searchBtn {
//   background: #00154F;
//   color: #fff;
//   width: 100px;
//   margin-top: 20px;
// }

// .historyTableBox {
//   box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
//   // min-width: 1200px;
//   margin-top: 10px;
//   width: 100%;
// }


.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  // bottom: 56px;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .example-rate-limit-reached {
//   max-width: 360px;
//   text-align: center;
// }


// .historyTable {
//   width: 100%;
//   text-align: center;

//   th {
//     text-align: center;
//   }

//   box-shadow: none;
// }

// .mat-header-row {
//   background-color: #00154F;

//   th {
//     color: #fff;
//   }
// }

// .leave-request-detail {
//   cursor: pointer;
//   font-weight: 450;
//   text-decoration: underline;
// }

// .approve {
//   color: blue;
// }

// .reject {
//   color: red;
// }

// .excelBtn {
//   background: #00154F;
//   color: #fff;
//   // width: 130px;
//   align-content: center;

// }

// .excelBox {
//   padding: 10px;
//   background: #c3c4c9;
//   border-radius: 5px;
// }


// @media screen and (max-width: 780px) {

//   .mainContentContainer {
//     padding: 10px 10px;
//   }

//   .mainTitle {
//     margin: 20px auto;
//   }

//   .selectContainer {
//     min-width: 0;
//   }

// //   .selectBoxContent {
// //     max-width: 100% !important;
// //   }

// //   .selectContent {
// //     display: flex;
// //     flex-direction: column !important;
// //   }

// //   .mat-form-field {
// //     width: 100%;
// //   }

// //   .searchBox {
// //     margin-bottom: 20px;
// //   }

// //   .searchBtn {
// //     margin-top: 10px;
// //   }

// //   .excelBox {
// //     margin: 0 auto;
// //   }


// //   .historyTableBox {
// //     word-break: break-all;


// //     th {
// //       padding: 0 10px;
// //     }

// //     td {
// //       padding: 0 10px;
// //       font-size: 0.7em;
// //     }
// //   }
// }