.selectContent {
    .date {display: flex;}
  }

.left {
    mat-form-field {
        margin-right: 5px;
    }
}

label {
    margin-top: 15px;
}

.right {
    mat-form-field {
        margin-left: 5px;
    }
}

.searchBtn {
    height: 50px;
    background-color: white;
}

@media screen and (max-width: 1000px) { 
    .mat-mdc-form-field{
        width: 180px;
    }
}
