.page {
    width: 400px;
    padding: 30px 20px 10px;

    form {width: 100%;}

    .page_title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .selectContent {width: 100%;
        div {width: 100%; margin-right: 0!important;}
        mat-form-field {width: 100%; margin-bottom: 20px;}
    }

    mat-form-field {width: 100%;}
    button {
        background: var(--point-back);
        color: var(--point-text-color);
        width: 100%;     
        font-size: 17px;
        padding: 22px 0;
    }
}