<div class="mainContentContainer">
    <div class="mainContent">
        <div fxLayout="row">
            <div class="mainTitle">Add Company</div>
        </div>

        <form [formGroup]="addCompanyForm" (ngSubmit)="onSubmit()">
            <div class="leaveTableContainer">
                <div fxLayout="column" class="br_ltop">

                    <!-- company name -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Company Name</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="companyFormFieldBox">
                                <mat-label>Company Name</mat-label>
                                <input matInput type="text" formControlName="companyName" />
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- leave standard -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Leave Standard</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <!-- <div fxLayout="row" fxLayoutAlign="end">
                                <div class="addBtn" (click)="addItem()">
                                    <mat-icon class="addMark">add</mat-icon>
                                </div>
                            </div> -->
                            <!-- <button type = 'button' >+</button>  -->

                            <div formArrayName="leaveStandards"
                                *ngFor="let leaveStandard of getLeaveStandardsControls(); let i = index"
                                fxLayout="column" fxLayoutGap="30px">
                                <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between center"
                                    fxLayoutGap="20px">
                                    <div>
                                        <input type="hidden" formControlName="year" />
                                        <div class="yearLabel"> {{ i + 1 }} year</div>
                                    </div>
                                    <div fxFlex="column" fxFlexAlign="center center">
                                        <mat-form-field appearance="outline" class="formFieldBox">
                                            <mat-label>Annual Leave</mat-label>
                                            <input matInput type="number" class="numeric-input"
                                                formControlName="annualLeave" />
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="column" fxFlexAlign="center">
                                        <mat-form-field appearance="outline" class="formFieldBox">
                                            <mat-label>Sick Leave</mat-label>
                                            <input matInput type="number" class="numeric-input"
                                                formControlName="sickLeave" />
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="i <= 0" class="empty">
                                    </div>
                                    <div *ngIf="i > 0" class="clickBtn" (click)="cancelItem(i)">
                                        <mat-icon class="addMark">remove</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="addclickBtn" (click)="addItem()">
                                <mat-icon class="addMark">add</mat-icon>
                            </div>
                        </div>
                    </div>


                    <!-- rollover -->
                    <div class="lineDivider" fxLayout="row wrap">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Rollover</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex>
                            <mat-radio-group mat-radio-group name="grpName">
                                <input type="radio" [checked]="addCompanyForm.get('isRollover')?.value" [value]="true"
                                    formControlName="isRollover" />Yes
                                <input type="radio" [checked]="!addCompanyForm.get('isRollover')?.value" [value]="false"
                                    formControlName="isRollover" />No
                            </mat-radio-group>
                        </div>
                    </div>
                    <div *ngIf="addCompanyForm.get('isRollover')?.value === true">
                        <!-- rollover max month -->
                        <div class="lineDivider" fxLayout="row wrap">
                            <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                                <div class="leftBox">
                                    <span>Rollover Max Month</span>
                                </div>
                            </div>
                            <div class="rightTable" fxFlex>
                                <mat-form-field appearance="outline" class="companyFormFieldBox formSpacer">
                                    <input matInput type="number" class="numeric-input"
                                        formControlName="rolloverMaxMonth" placeholder="Rollover Max Month" />
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- rollover max day -->
                        <div class="lineDivider" fxLayout="row wrap">
                            <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                                <div class="leftBox">
                                    <span>Rollover Max Day</span>
                                </div>
                            </div>
                            <div class="rightTable" fxFlex>
                                <mat-form-field appearance="outline" class="companyFormFieldBox formSpacer">
                                    <input matInput type="number" class="numeric-input" formControlName="rolloverMaxDay"
                                        placeholder="Rollover Max Day" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- Replacement Day -->
                    <div class="lineDivider" fxLayout="row wrap">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Replacement Day</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex>
                            <mat-radio-group mat-radio-group name="grpName">
                                <input type="radio" [value]="true" formControlName="isReplacementDay" />Yes
                                <input type="radio" [value]="false" formControlName="isReplacementDay" />No
                            </mat-radio-group>
                        </div>
                    </div>

                    <!-- RD Validity Day -->
                    <div *ngIf="addCompanyForm.get('isReplacementDay')?.value == true">
                        <div class="lineDivider" fxLayout="row wrap">
                            <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                                <div class="leftBox">
                                    <span>RD Validity Term</span>
                                </div>
                            </div>
                            <div class="rightTable" fxFlex>
                                <mat-form-field appearance="outline" class="companyFormFieldBox formSpacer">
                                    <input matInput type="number" class="numeric-input" formControlName="rdValidityTerm"
                                        placeholder="RD Validity Term" />
                                </mat-form-field>
                                month(s)
                            </div>
                        </div>
                    </div>
                    <!-- Advance Annual Leave -->
                    <div class="lineDivider" fxLayout="row wrap">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Advance Annual Leave</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex>
                            <mat-radio-group mat-radio-group name="grpName">
                                <input type="radio" [value]="true" formControlName="isAdvanceLeave" />Yes
                                <input type="radio" [value]="false" formControlName="isAdvanceLeave" />No
                            </mat-radio-group>
                        </div>
                    </div>
                    <!-- Annual Policy -->
                    <div class="lineDivider" fxLayout="row wrap">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Annual Policy</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex>
                            <mat-radio-group mat-radio-group name="grpName">
                                <input type="radio" value='byYear' formControlName="annualPolicy" />by year
                                <input type="radio" value='byContract' formControlName="annualPolicy" />by contract
                            </mat-radio-group>
                        </div>
                    </div>


                    <div fxLayout="row" fxLayoutAlign="center center" class="booterBtn">
                        <div class="btnSection_1">
                            <button mat-raised-button class="tableBtn" type="submit" color="primary"
                                [disabled]="isButtonDisabled()">Request</button>
                        </div>
                        <div>
                            <button mat-raised-button class="tableBtn" (click)="toBack()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>