<div class="page">

	<form [formGroup]="countryForm" novalidate>
		<div class="dialog_container">
            <div class="dialog_header">
                <div class="dialog_title">Edit Country</div>
            </div>

            <div class="dialog_body">
                <mat-form-field appearance="outline">
                    <mat-label>Country Name</mat-label>
                    <input matInput type="text" formControlName="countryName"/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Country Code</mat-label>
                    <input matInput type="text" formControlName="countryCode"/>
                </mat-form-field>

                <button mat-flat-button (click)="onSubmit()">Edit</button>
            </div>
		</div>
	</form>

</div>
