
table {
    th:first-child,th:nth-child(2),th:nth-child(3),th:nth-child(4),th:nth-child(5),th:nth-child(6) {
        width: 10%;
    }

    th:nth-child(7) {
        width: 35%;
    }
}

@media screen and (max-width: 1500px) {
    th {
        width: 15%!important;
    }
}

@media screen and (max-width: 1100px) {
    .page {
        min-width: 950px;
    }
}