.mainContentContainer {
    padding: 40px 40px;
    margin: 0 auto;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
}

.mainTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.historyTableBox {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    overflow-x: auto;
}

.historyTable {
	width: 100%;
	text-align: center;
    box-shadow: none;

	th {
		text-align: center;
        color: #787878;
	}    

    td {
        text-align: center;
    }
}

.mat-mdc-table {
    margin-top: 20px;
      border-bottom: 1px solid rgb(228, 228, 228);
      white-space: pre;
    }

.mat-header-row {
    background-color: #00154F;

    th {
        color: #fff;
    }
}

.filter{
    background-color: #fff;
    margin: 15px 20px 0 20px;
}

.mat-mdc-paginator {
    margin: 10px;
}

.mat-form-field {
    --mdc-filled-text-field-container-color: rgb(255, 255, 255);
}

.addCompanyBtn {
    position: absolute;
    top: 133px;
    right: 61px;
    background: #ffffff;
    color: #000000;
    box-shadow: none;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
}

.editCompanyBtn {
    background: #ffffff;
    color: #454e79;
    padding: 0 30px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
}

.deleteCompanyBtn {
    background: #ffffff;
    color: #e11e1e;
    padding: 0 30px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
}