<div class="page">
  <div class="page_header">
    <div class="page_title">Company List</div>
    <button mat-flat-button (click)="addCompany()">Add Company</button>
  </div>

  <div class="table_container">

    <div class="filter">
      <div class="selectContent">
        <mat-form-field appearance="outline">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Company" #input>
        </mat-form-field>
      </div>
    </div>

    <table mat-table class="table" [dataSource]="dataSource" matSort matSortActive="createdAt" matSortDisableClear
      (matSortChange)="announceSortChange($event)" matSortDirection="desc">

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.companyCode}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>

      <ng-container matColumnDef="contractDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contractDate"> ContractDate
        </th>
        <td mat-cell *matCellDef="let element"> {{element?.contractDate | date: 'YYYY-MM-dd'}} </td>
      </ng-container>

      <ng-container matColumnDef="payDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by payDate"> PayDate </th>
        <td mat-cell *matCellDef="let element"> {{element?.payDate}} </td>
      </ng-container>

      <ng-container matColumnDef="superManagers">
        <th mat-header-cell *matHeaderCellDef> SuperManagers </th>
        <td mat-cell *matCellDef="let element"> {{element.superManagerAmount}} </td>
      </ng-container>

      <ng-container matColumnDef="managers">
        <th mat-header-cell *matHeaderCellDef> Managers </th>
        <td mat-cell *matCellDef="let element"> {{element.managerAmount}} </td>
      </ng-container>

      <ng-container matColumnDef="employees">
        <th mat-header-cell *matHeaderCellDef> Employees </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeAmount}} </td>
      </ng-container>

      <ng-container matColumnDef="openIn">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="openIcon" (click)="detailCompany(element._id)">open_in_new</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editCompany(element._id)"><mat-icon>edit</mat-icon>Edit</button>
            <button mat-menu-item (click)="deleteCompany(element._id)"><mat-icon>delete</mat-icon>Delete</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="detailCompany(row._id)"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">
          No data
        </td>
      </tr>


    </table>


    <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 50]"
      showFirstLastButtons></mat-paginator>

  </div>

</div>