.filter .selectContent mat-form-field {
    margin-left: 20px;
}

.selectContent {
    width: 100%;
    background-color: white;
    margin-left: 0px;
    margin-bottom: 40px;

    .date {
        display: flex;
    }
  }

.left {
    mat-form-field {
        margin-right: 5px;
    }
}

label {
    margin-top: 15px;
}

.right {
    mat-form-field {
        margin-left: 5px;
    }
}

@media screen and (max-width: 1000px) { 
    .mat-mdc-form-field{
        width: 170px;
    }
}

  .button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;

    p {
      color: var(--text-color);
      font-size: 18px;
      font-weight: 700;
    }
  }

  .mat-button-toggle-group-appearance-standard {
    color: #6A6E80;
    border: none;
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
  }