.filter .selectContent mat-form-field {
    margin-left: 20px;
}

.filter .selectContent mat-form-field {
    margin-right: 0px;
}

.selectContent {
    width: 100%;
    background-color: white;
    margin-left: 0px;
    margin-bottom: 40px;

    .date {
        display: flex;
    }
  }

.left {
    mat-form-field {
        margin-right: 5px!important;
    }
}

label {
    margin-top: 15px;
}

.right {
    mat-form-field {
        margin-left: 5px!important;
    }
}

.searchBtn {
    height: 50px;
    background-color: white;
    margin-left: 20px;
}

@media screen and (max-width: 1000px) { 
    .mat-mdc-form-field{
        width: 140px;
    }
}

  .button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;

    p {
      color: var(--text-color);
      font-size: 18px;
      font-weight: 700;
    }
  }

  .mat-button-toggle-group-appearance-standard {
    color: #ffffff;
    border: none;
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
  }

  .mat-button-toggle-appearance-standard {background: #E6E8EB;}

  .button {
    flex-wrap: wrap;
  }

  .mat-button-toggle {
    min-width: 100px!important;
}

    /* 반응형 디자인을 위한 미디어 쿼리 */
    // @media screen and (max-width: 1280px) {
    //     .mat-button-toggle {
    //         min-width: 50px!important;
    //     }
    //   }
    
      @media screen and (max-width: 1100px) {
        .mat-button-toggle {
            min-width: 30px!important;
        }
      }

      @media screen and (max-width: 800px) {
        .page {
            min-width: 700px;    
        }
      }