// /* You can add global styles to this file, and also import other style files */
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// ngx-quill 텍스트 편집기 설정
// https://mehul-kothari.medium.com/medium-like-text-editor-in-angular-quill-editor-38c0011a880b
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

$sidenav-width: 290px;
$sidenav-toolbar-height: 64px; // material default
$sidenav-toolbar-height-mobile: 56px; // material default <599px
// //$sidenav-bgColor: #1a202e;
// $sidenav-bgColor: #00154F;
// //$sidenav-active-color: #141924;
// // $sidenav-active-color: #F4AF1B;
$sidenav-active-color: #ebf8f6;

// html,
// body {
//     height: 100%;
// }

// body {
//     margin: 0;
//     font-family: Roboto, "Helvetica Neue", sans-serif;
// }


/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; font-family: 'Noto Sans KR', sans-serif;}

:root {
  --point-color: #96CDCA;
  --point-text-color: #56B1AC;
  --point-back: #DDF5F4;
  --text-color: #333333;
  --error-color: #FF4545;

  --mat-standard-button-toggle-selected-state-background-color: #ffffff;
  --mat-standard-button-toggle-background-color: #F0F2F5;
  --mat-standard-button-toggle-selected-state-text-color: #56B1AC;

  --mdc-checkbox-selected-icon-color: #96CDCA;
  --mdc-checkbox-selected-focus-icon-color: #96CDCA;
  --mdc-checkbox-selected-hover-icon-color: #96CDCA;
  --mdc-checkbox-selected-pressed-icon-color: #96CDCA;
  --mdc-checkbox-selected-focus-state-layer-color: #96CDCA;
  --mdc-checkbox-selected-focus-state-layer-color: #96CDCA;
  --mdc-checkbox-selected-hover-state-layer-color: #96CDCA;
  --mdc-checkbox-selected-pressed-state-layer-color: #96CDCA;

  --mdc-outlined-text-field-error-label-text-color:#FF4545;
  --mdc-outlined-text-field-error-focus-outline-color:#FF4545;
  --mdc-outlined-text-field-error-hover-outline-color:#FF4545;
  --mdc-outlined-text-field-error-outline-color:#FF4545;
  --mdc-outlined-text-field-error-caret-color:#FF4545;
  --mdc-outlined-text-field-error-focus-label-text-color:#FF4545;
  
  --mdc-filled-text-field-container-color: #fff;
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color:#56B1AC;
  --mdc-switch-selected-handle-color:#56B1AC;
  --mdc-switch-selected-hover-state-layer-color:#56B1AC;
  --mdc-switch-selected-pressed-state-layer-color:#56B1AC;

  --mdc-switch-selected-focus-handle-color:#56B1AC;
  --mdc-switch-selected-hover-handle-color:#56B1AC;
  --mdc-switch-selected-pressed-handle-color:#56B1AC;

  --mdc-switch-selected-focus-track-color:#96CDCA;
  --mdc-switch-selected-hover-track-color:#96CDCA;
  --mdc-switch-selected-pressed-track-color:#96CDCA;
  --mdc-switch-selected-track-color:#96CDCA;
}

// angular material overwrite

// chip custom
.mat-mdc-standard-chip.pay {
  --mdc-chip-elevated-container-color: #EAFFEA;
  --mdc-chip-label-text-color: #85D421;
  --mdc-chip-label-text-weight: 500;
}

.mat-mdc-standard-chip.meeting {
  --mdc-chip-elevated-container-color: #EFECFF;
  --mdc-chip-label-text-color: #5A48C4;
  --mdc-chip-label-text-weight: 500;
}

.mat-mdc-standard-chip.notification {
  --mdc-chip-elevated-container-color: #E9FBFA;
  --mdc-chip-label-text-color: var(--point-text-color);
  --mdc-chip-label-text-weight: 500;
}

// input(none outline)
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white!important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
    color: var(--point-color)!important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
    border-bottom-color: var(--point-color)!important;
}

// mat-form-field input(outline)
.mat-mdc-text-field-wrapper {
    background-color: white;
}

// .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
//     border-color: var(--point-color) !important;
//   }

// ::ng-deep .mdc-notched-outline > * {
//     border-color: green !important;
//   }

  .mdc-text-field--focused .mdc-notched-outline > * {
    border-color: var(--point-color)!important;
  }

//   ::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
//     border-color: cyan !important;
//   }
  
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: var(--point-color)!important;
  }
  
//   .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
//     border-left: none;
//   }
  
//   .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
//     color: var(--point-text-color);
//   }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    color: var(--point-text-color);
  }
  
//  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
//     caret-color: var(--point-color)!important;
//  }

//   .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
//     color: rgb(180, 49, 110);
//   }
  
//   .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
//     color: #f44336;
//   }
  
//   .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
//     color: white;
//   }

  // 밑으로 내려오는..
  .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
    color: var(--point-color)!important;
  }

  .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
    color: var(--point-color);
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: var(--point-text-color)!important;
  }

  //달력
  .mat-datepicker-toggle-active {
    color: var(--point-color)!important;
}

  .mat-calendar-body-selected {
    background-color: var(--point-color)!important;
  }

/** 
작성자: 임호균
작성일: 2023-08-17
내용: 사이드 네비게이션 공통 스타일 지정, 툴팁 공통 스타일 지정

수정일: 2023-08-18
수정자: 임호균
내용: 사이드 네비게시연 공통 스타일 수정. 
side_nav_toolbar
*/
// $side_nav_active_color: #eeeeee;
// $side_nav_active_font_color: rgba(255, 64, 129, 255);
$side_nav_active_font_color: var(--point-color);
$smart_service_background_color: var(--text-color);
$smart_service_primary_color: var(--point-color);


.side_nav {
    width: 278px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    h1 {
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.side_nav_toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 64px;

  h1 {
    margin: 0;
  }
}

.side_nav_items {
  flex: 1;
  position: relative;
}

.scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll::-webkit-scrollbar {
  display: none;
}

.toolbar {
    display: flex;
    align-items: center;
    background: #ffffff;
    height: 64px;
    border-bottom: 1px solid #D3D3D3;
    .btns {display: flex; gap: 10px; margin-right: 10px;}
    .btn {
        background: #F0F2F5;
        color: #6A6E80;
        font-size: 14px;
        text-transform: uppercase;
        padding: 0px 15px;
        border-radius: 5px;
    }
    .btn.active {
      color: var(--point-text-color);
      background: var(--point-back);
    }

    h1 {
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        padding-left: 30px;
        span {color: var(--point-text-color); font-weight: 400; font-size: 16px;}
    }
}

//공통 table
.page {
  padding: 0 20px;
  margin: 0 auto;
}

.page_header {
    flex: 1;
    /* 남은 공간을 모두 차지하도록 설정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 40px;

    .btn {display: flex; 
      button {margin-top: 25px;}
    }
    
    .page_title {
        font-size: 22px;
        font-weight: bold;
        line-height: 0px;
    }
}

.table_container {
    //   box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.table {
   width: 100%;
   text-align: center;
    box-shadow: none;
    
    td {
        img {
            width: 40px;
            padding-top: 5px;
        }
    }
  }

  .mat-column-enter,
  .mat-column-menu {
    width: 50px;
    text-align: center;
  }

.filter {
    background-color: white;
    padding-top: 20px;

    .selectContent {
        margin-left: 20px;
        padding-left: 0;
        float: left;
        display: flex;
        flex-wrap: wrap; 

        mat-form-field {
            margin-right: 15px;
        }
    }

    .mat-mdc-text-field-wrapper {
        height: 50px !important;
    }

    label {
        padding-bottom: 6px;
    }
}

.mat-mdc-unelevated-button.mat-unthemed {
    --mdc-filled-button-container-color: var(--point-back);
    --mdc-filled-button-label-text-color: var(--point-text-color);
}

// cancel btn
.table_delete_button.mat-mdc-unelevated-button.mat-unthemed {
    --mdc-filled-button-container-color: var(--point-back);
    --mdc-filled-button-label-text-color: var(--point-text-color);
}  

@media screen and (max-width: 1650px) {
  .page {
    padding: 10px 10px;
  }

  .page_title {
    margin: 10px;
  }

  .table_container {
    word-break: break-all;

    th {
    //   padding: 3px 5px;
    }

    td {
    //   padding: 2px 5px;
      font-size: 1em;

      button {
        width: 70px;
        padding: 0;
      }

      img {
        width: 0px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .page {
    padding: 10px 10px;
  }

  .page_title {
    margin: 10px;
  }

  .table_container {
    word-break: break-all;


    th {
      padding: 3px 5px;
      font-size: 0.8em;
    }

    td {
      padding: 2px 5px;
      font-size: 0.7em;

      button {
        width: 70px;
        padding: 0;
      }
    }
  }
}

//공통 add
.add_container {
  padding: 20px 20px;
  // border: 1px solid rgba(238, 238, 238, 0.548);
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  // box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  box-shadow: none;

  .br_ltop {
    border-radius: 4px;
  }
}

.lineDivider {
  border-bottom: 1px solid rgb(224 224 224);
}

.leftTable {
  border-radius: 4px;
  margin: 1px;
  padding: 20px;
  color: #fff;
  font-weight: 500;
  background-color: var(--point-text-color);
}

.rightTable {
  border-left: 1px solid rgb(224 224 224);
  padding: 20px;

  .mat-mdc-text-field-wrapper {
    height: 50px !important;
  }

  label {
    padding-bottom: 6px;
  }

  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }

  input[type=checkbox], input[type=radio] {
    accent-color:#4b9b9f;
  }
}

.formFieldBox {
  max-width: 200px;
}

.booterBtn {
  margin: 20px 0 0 0;
}

.cencelBtn {
    background: #F0F2F5!important;
    color: #6A6E80!important;
}



//공통 edit
.edit_title {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0;
}

.edit_header {
    flex: 1;
    /* 남은 공간을 모두 차지하도록 설정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 20px;
    // height: 40px;
  }

.edit_twin_container {
  display: flex;
  padding: 20px;
  border: 1px solid rgba(238, 238, 238, 0.548);
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);

  .br_ltop {
    border-radius: 4px;
  }

  .mat-mdc-text-field-wrapper {
    height: 50px !important;
  }

  label {
    padding-bottom: 6px;
  }
}

.edit_left_container {
  flex: 3;
  /* 각 요소가 동일한 공간을 차지하도록 설정 */
  margin: 10px;
  /* 간격을 원하는 만큼 추가 */
}

.edit_right_container {
  flex: 7;
  /* 각 요소가 동일한 공간을 차지하도록 설정 */
  margin: 10px;
  /* 간격을 원하는 만큼 추가 */

}

/* 화면 폭이 1000px 이하일 때 스타일 수정 */
@media screen and (max-width: 1000px) {
  .edit_twin_container {
    flex-wrap: wrap;
    /* 줄바꿈을 허용하도록 설정 */
  }

  .edit_left_container,
  .edit_right_container {
    width: 100%;
    /* 전체 너비를 차지하도록 설정 */
    box-sizing: border-box;
    margin-bottom: 10px;
    /* 아래 여백을 추가하여 다음 줄로 넘어가도록 함 */
  }
}

//공통 dialog
.dialog_container {
  padding: 20px 30px;

  .mat-mdc-form-field {
    width: 320px;
    margin-bottom: 20px;
  }

  .mat-mdc-unelevated-button {
    width: 320px;
  }
}

.dialog_twin_container {
  display: flex;
  padding: 20px 30px;

  .mat-mdc-form-field {
    width: 320px;
    margin-bottom: 20px;
  }

  .mat-mdc-unelevated-button {
    width: 320px;
  }
}

.dialog_left_container {
  width: 400px;
  flex: 5;
  /* 각 요소가 동일한 공간을 차지하도록 설정 */
  margin: 10px;
  /* 간격을 원하는 만큼 추가 */
}

.dialog_right_container {
  width: 330px;
  height: 452px;
  flex: 5;
  /* 각 요소가 동일한 공간을 차지하도록 설정 */
  margin: 10px;
  /* 간격을 원하는 만큼 추가 */
  border: 1px solid #ccc;
  /* 1px 두께의 회색 선 추가 */
}

@media screen and (max-width: 900px) {
  .dialog_twin_container {
    flex-wrap: wrap;
    /* 줄바꿈을 허용하도록 설정 */
  }

  .dialog_left_container,
  .edit_right_container {
    width: 100%;
    /* 전체 너비를 차지하도록 설정 */
    box-sizing: border-box;
    margin-bottom: 10px;
    /* 아래 여백을 추가하여 다음 줄로 넘어가도록 함 */
  }
}

// 공통 loading
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: var(--point-color)!important;
}


//공통 dashboard
.dashboard_container {
    // margin-top: 30px; /* 간격을 원하는 만큼 추가 */
}

.dashboard_top_container {
    display: flex;
    flex-wrap: wrap; /* 요소들이 줄바꿈을 허용하도록 설정 */
    justify-content: space-between;
    .mat-mdc-card {box-shadow: none;}
    mat-card {
        width: 24%;
        height: 190px;
        margin-bottom: 15px; /* 아래쪽 마진을 추가하여 줄바꿈을 유도 */
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        mat-card-header {margin: 10px 0;
            mat-card-subtitle {font-weight: bold;}
        }
        p {
            font-size: 30px;
            font-weight: bold;
        }
        .img {position: absolute; bottom: 0; height: auto; margin-bottom: 0!important;}
        .employeeImg {width: 115px;}
        .superManagerImg {width: 70px;}
        .managerImg {width: 62px;}
        .payDateImg {width: 70px; margin-bottom: 15px!important; padding-left: 8px!important;}
    }

  mat-card {
    width: 24%;
    height: 190px;
    margin-bottom: 15px;
    /* 아래쪽 마진을 추가하여 줄바꿈을 유도 */
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    mat-card-header {
      margin: 10px 0;

      mat-card-subtitle {
        font-weight: bold;
      }
    }

    p {
      font-size: 30px;
      font-weight: bold;
    }

    .img {
      position: absolute;
      bottom: 0;
      height: auto;
      margin-bottom: 0 !important;
    }

    .employeeImg {
      width: 115px;
    }

    .superManagerImg {
      width: 70px;
    }

    .managerImg {
      width: 62px;
    }

    .payDateImg {
      width: 70px;
      margin-bottom: 15px !important;
      padding-left: 8px !important;
    }

    .companyImg {
      width: 80px;
    }

    .employeeImg {
      width: 115px;
    }

    .superManagerImg {
      width: 70px;
    }

    .managerImg {
      width: 62px;
    }
  }

  mat-card-header,
  mat-card-actions {
    text-align: center;
    /* 헤더 내용을 가운데 정렬합니다. */
    justify-content: center !important;
    /* 중앙 정렬을 강제로 적용합니다. */
    align-items: center !important;
    /* 중앙 정렬을 강제로 적용합니다. */
  }
}


.dashboard_bottom_container {
  margin-top: 30px;
  /* 간격을 원하는 만큼 추가 */


  mat-card {
    height: 500px;
    display: contents;

    .button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        color: var(--text-color);
        font-size: 18px;
        font-weight: 700;
      }
    }
    .mat-mdc-standard-chip {
      margin-right: 10px;
    }
  }

  // .meeting {
  //     mat-chip {background-color: #EFECFF!important; margin-right: 10px!important;}   
  // }
  .mat-button-toggle-group-appearance-standard {
    color: #6A6E80;
    border: none;
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
  }

  mat-icon {
    color: var(--point-text-color);
  }

  .example-container {
    margin: 0 auto;
    min-height: 420px;
    background-color: white;
  }
}

.dashboard_twin_container {
  display: flex;
  justify-content: space-between;
}

.dashboard_left_container {
  margin: 10px;
  /* 간격을 원하는 만큼 추가 */
  width: 80%;
}

.dashboard_right_container {
  margin: 10px;
  /* 간격을 원하는 만큼 추가 */

  mat-card {
    text-align: center;
    height: 760px;
    box-shadow: none;
  }

  mat-icon {
    color: var(--point-text-color);
  }

  .example-container {
    margin: 0 auto;
    width: 230px;
  }

  .mat-mdc-card-content {
    padding: 0px;
  }

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  table thead tr {
    height: 0px;
  }

  .mat-mdc-header-cell {
    border-bottom: 1px solid transparent;
    height: 0px;
  }

  span {
    color: #F0F2F5;
    font-size: 10px;
  }

  mat-card-content {
    p {
      font-size: 22px;
      font-weight: bold;
    }

    mat-divider {
      margin-top: 70px;
      padding-bottom: 50px;
      width: 330px;
    }
  }

  mat-card-header {
    text-align: center;
    /* 헤더 내용을 가운데 정렬합니다. */
    justify-content: center !important;
    /* 중앙 정렬을 강제로 적용합니다. */
    align-items: center !important;
    /* 중앙 정렬을 강제로 적용합니다. */

    mat-card-subtitle {
      font-weight: bold;
      font-size: 18px;
      margin: 40px 0;
    }
  }

  mat-card-footer {
    mat-card-subtitle {
      margin-top: 40px;
      margin-right: 180px;
      margin-bottom: 10px;
    }

    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    section {
        height: 315px;
        overflow-y: auto;
    }

    section::-webkit-scrollbar {
        width: 6px;  /* 스크롤바의 너비 */
    }
    
    section::-webkit-scrollbar-thumb {
        height: 30%; /* 스크롤바의 길이 */
        background: #f0f2f5; /* 스크롤바의 색상 */
        
        border-radius: 10px;
    }
    
    // section::-webkit-scrollbar-track {
    //     background: #e9ebef;
    // }
  }

  .mat-column-enter {
    width: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .dashboard_twin_container {
    flex-wrap: wrap;
    /* 요소들이 줄바꿈을 허용하도록 설정 */
  }

  .dashboard_left_container {
    width: 100%;
  }

  .dashboard_right_container {
    width: 100%;
    mat-card {
      height: auto;
      padding: 30px;
    }

    mat-card-content {
      mat-divider {
        margin: 0 auto;
        margin-top: 70px;
        padding-bottom: 50px;
        width: 403px;

      }
    }
  }
}