<div class="page">
  <div class="page_title"></div>

  <div class="notification_container">
    <div class="notification_title">
        {{notification?.title}}
    </div>
    <div>
        <div class="notification_username">
            {{notification?.writer?.username}}
        </div>
        <div class="notification_convertedCreatedAt">
            {{convertedCreatedAt}}
        </div>
    </div>

    <div>
        <mat-chip>
            {{notification?.category}}
        </mat-chip>
    </div>
    <!-- {{notification?.company?.companyName}}
    {{notification?.writer?.username}}
    {{notification?.updator?.username}}
    {{convertedCreatedAt}}
    {{convertedUpdatedAt}} -->

    <div class="notification_contents">
        <quill-view-html [content]="contents" theme="snow"></quill-view-html>
    </div>

    </div>
</div>