// .example-loading-shade {
//   position: absolute;
//   top: 0;
//   left: 0;
//   // bottom: 56px;
//   bottom: 0px;
//   right: 0;
//   background: rgba(0, 0, 0, 0.15);
//   z-index: 101;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.mat-icon[_ngcontent-ng-c1486351013] {
    color: var(--point-color)!important;
  }

.hidden {
  display: none;
}

.selectContent {
    justify-content: space-evenly;
  }

.fontBold {
  font-weight: bold;
  margin: 10px 10px;
}

.searchBtn{
    margin-left: 20px;
    margin-bottom: 20px;
}

.left {
    mat-form-field {
        margin-right: 5px;
    }
}

label {
    margin-top: 15px;
}

.right {
    mat-form-field {
        margin-left: 5px;
    }
}

@media screen and (max-width: 1000px) { 
    .mat-mdc-form-field{
        width: 150px;
    }
}

.add_container {
    padding-bottom: 0px;
  }