.mat-icon {
    color: var(--point-color)!important;
  }

.hidden {
  display: none;
}

.selectContent {
    .date {display: flex;}
  }

.left {
    mat-form-field {
        margin-right: 5px;
    }
}

label {
    margin-top: 15px;
}

.right {
    mat-form-field {
        margin-left: 5px;
    }
}

@media screen and (max-width: 1000px) { 
    .mat-mdc-form-field{
        width: 150px;
    }
}

.add_container {
    padding-bottom: 0px;
  }