.mat-mdc-row:hover .mat-mdc-cell {
    background-color: transparent !important;
  }

.mat-icon {
    color: var(--point-color)!important;
  }

.hidden {
  display: none;
}

.selectContent {
    .date {display: flex;}
  }

.left {
    mat-form-field {
        margin-right: 5px;
    }
}

label {
    margin-top: 15px;
}

.right {
    mat-form-field {
        margin-left: 5px;
    }
}

.searchBtn {
    height: 50px;
    background-color: white;
}

table {
    th:first-child, th:nth-child(2) {
        width: 15%;
    }
    th:nth-child(3) {width: 50%;}
}

@media screen and (max-width: 1500px) {
    th {
        width: 20%!important;
    }
}

@media screen and (max-width: 1000px) { 
    .mat-mdc-form-field{
        width: 140px;
    }
}

.page-buttons {
    display: flex;
    flex-direction: row; /* 가로 방향으로 정렬 */
    align-items: center; /* 요소를 수직 가운데 정렬 (선택 사항) */
    margin-top: 20px;
}

