<div class="page">
        <div class="page_title">Add Manager</div>

        <form [formGroup]="addManagerForm" (ngSubmit)="onSubmit()">
            <div class="add_container">

                    <!-- manager email -->
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Email</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="addManagerFormFieldBox">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" placeholder="E-Mail *" name="email" formControlName="email"
                                    autocomplete="email">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- manager name -->                    
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Name</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="addManagerFormFieldBox">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" placeholder="Name" name="username"
                                    formControlName="username" autocomplete="username">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- manager phone -->                    
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Phone</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="addManagerFormFieldBox">
                                <mat-label>Phone</mat-label>
                                <input matInput type="text" placeholder="Phone" name="phoneNumber"
                                    formControlName="phoneNumber" autocomplete="phoneNumber">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- manager address -->                    
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Address</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-form-field appearance="outline" class="addManagerFormFieldBox">
                                <mat-label>Address</mat-label>
                                <input matInput type="text" placeholder="Address" name="address"
                                    formControlName="address" autocomplete="address">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- super manager -->                    
                    <div class="lineDivider" fxLayout="row">
                        <div class="leftTable" fxFlex="30" fxFlex.gt-md="20">
                            <div class="leftBox">
                                <span>Super Manager</span>
                            </div>
                        </div>
                        <div class="rightTable" fxFlex="70" fxFlex.gt-md="70">
                            <mat-checkbox class="checkbox-margin" formControlName="isSuperManager"></mat-checkbox>
                        </div>
                    </div>

                <div fxLayout="row" fxLayoutAlign="center center" class="booterBtn">
                    <button mat-flat-button class="tableBtn" type="submit">Request</button>
                    <div style="width: 20px;"></div>
                    <button mat-flat-button class="cencelBtn" (click)="toBack()">Cancel</button>
                </div>

            </div>
        </form>

</div>